/* reset */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* estilos generales */


body{
    background-color: rgb(228, 195, 173);
}

/* estilos del header */

header{
    background-color: rgb(231, 220, 220);
}

header nav div ul li{
    margin-top: 1rem;
    padding: 0.3rem;
    background-color: rgb(228, 195, 173);
}

/* estilos del main para mq mobile first */

@media screen and (min-width:380px) {

    main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-top: 1rem;
    text-align: center;
    }

    main h1{
    margin-bottom: 1rem;
    }

    main h2{
    margin-top: 1rem;
    text-align: center;
    }

    main p{
    margin-bottom: 1rem;
    padding: 1rem;
    }

    main div img{
    width: 100%;
    padding: 1rem;
    }

    main section div.imagenes-ocultas img{
    display: flex;
    }

}

/* estilos del footer */

footer{
    background-color: rgb(231, 220, 220);
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1rem;
    margin-top: 3rem;
    padding: 1rem;
}



/* estilos de campanias */

main div.fotos-varias img{
    width: 100%;
    padding: 1rem;
}


/* mq para desktop */

@media screen and (min-width:1024px) {

    header{
        padding: 0.3rem;
    }
    
    .primeras-fotos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    main section .imagenes-ocultas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* mq para campanias */

    main div.fotos-varias{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* mq para ofertas */

    main div.nuestras-ofertas{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}